<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">

</head>
<body>
<h1 class="box" style="background: red">Unable to connect, you can`t leave an empty field</h1>

<a class="button" href="/home/" style="background-color: darkgrey"> back to home</a>
<br>
<br>
<img alt=""
     src="https://3.bp.blogspot.com/-UFqtUFuZr0Q/WnXV8DP6-pI/AAAAAAAAFho/efJQn1XF97cYg9awB4wZpsr6yQ46hr0yACLcBGAs/s1600/bowser%2Benfadado.png">

</body>
</html>