<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/css/JavaScript.js"></script>
</head>
<body>
<h1 class="box">THE GAME HAS BEEN SUCCESSFULLY ADDED TO CART</h1>
<a class="button" href="/home/" style="background-color: darkgrey">Back to home</a>
<a class="button" href="/shoppingCart">Show shopping cart</a>
<br>
<br>
<br>
<br>
<button class="minibutton" id="BackButton" onclick="back()" style="background-color:firebrick">Back</button>
</body>
</html>