<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/css/JavaScript.js"></script>
</head>
<body>
<h1 class="box">THE RATING HAS BEEN SUCCESSFULLY CREATED</h1>
<a class="button" href="/home/" style="background-color: darkgrey">Back to home</a>
<a class="button" href="/allGames" style="background-color: darkgrey">Back to games</a>
<a class="button" href="/game/{{idGame}}" style="background-color: darkgrey">Back to rated game</a>
<a class="button" href="/game/{{idGame}}/ratings" style="background-color: darkgrey">Back to ratings</a>

</body>
</html>