<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deleted game</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/css/JavaScript.js"></script>
</head>
<body>
<h1 class="box">THE GAME HAS BEEN SUCCESSFULLY DELETED</h1>
<a class="button" href="/allGames" style="background-color: darkgrey">Back to games</a>
<a class="button" href="/home/" style="background-color: darkgrey">Back to home</a>
<a class="button" href="/shoppingCart">Go to shopping cart</a>

</body>
</html>