<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Games Web</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/css/JavaScript.js"></script>
</head>
<body>
<h1 class="box" style="font-size: xx-large; background: royalblue">WELCOME !</h1>
<h2 style="font-family: Arial,serif">In our web you can find a wide selection of games, but first, choose an
    option: </h2>
<br>
<a class="button" href="/allGames">Show all games</a>
{{#admin}}
<a class="button"  href="/addGame">Add a new game</a>
<a class="button"  href="/manageUsers">Manage users</a>
<a class="button" href="/myProfile">My profile</a>
{{/admin}}
{{#user}}
<a class="button" href="/shoppingCart">Show shopping cart</a>
<a class="button" href="/showOrders">Show my orders</a>
<a class="button" href="/myProfile">My profile</a>
{{/user}}

{{^admin}}
{{^user}}
<a class="button" href="/home/login">Login</a>
{{/user}}
{{/admin}}
<br>
<br>
<img alt=""
     height="500" src="https://as.com/meristation/imagenes/2015/02/26/avance/1424966400_744742_1532457814_sumario_normal.jpg" width="500">


<br>
<br>
<form name = "f1">
    <input type="button" class="minibutton" style="width: 60px" value = "Back" onclick="backGallery()">
    <img src="/css/photo1.jpg" width="300" height="200" id = "photo">
    <input type="button" class="minibutton" style="width: 60px" value = "Next" onclick="nextGallery()">
</form>


<br>
<br>
<a class="minibutton" value="Refresh site" style="background-color:firebrick" onclick="refresh()">Refresh site</a>

</body>
</html>