<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1 class="box" style="font-size: xx-large; background: royalblue">WELCOME !</h1>
<h2 style="font-family: Arial,serif">In our web you can find a wide selection of games, but first, choose an
    option: </h2>
<br>
<a class="button" href="/home/addGame">Add a new game</a>
<a class="button" href="/allGames">Show all games</a>
<a class="button" href="/home/shoppingCart">Show shopping cart</a>
<br>
<br>
<img alt=""
     height="500" src="https://as.com/meristation/imagenes/2015/02/26/avance/1424966400_744742_1532457814_sumario_normal.jpg" width="500">
</body>
</html>