<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deleted game</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/css/JavaScript.js"></script>
</head>
<body>
<h1 class="box">USERNAME OR PASSWORD INCORRECT</h1>
<a class="button" href="/home/" style="background-color: darkgrey">Back to home</a>
<a class="button" href="/home/login">Back to login</a>
<br>
<br>
<br>
<br>
<button class="minibutton" id="BackButton" onclick="back()" style="background-color:firebrick">Back</button>
</body>
</html>