<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a new game</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/css/JavaScript.js"></script>
</head>
<body>

<h1 class="box">Login</h1>

<div class="margin">
    <form action="/home/login" method="post">
        <label>Username: </label>
        <br>
        <label>
            <input name='username' type='text'>
        </label>
        <br>
        <label>Password:</label>
        <br>
        <label>
            <input name='password' type='password'>
        </label>
        <br>
        <hr style="width:25%;">
        <input class="minibutton" type="submit" value="LOGIN" style="background-color: #aa5500">
        <a class="minibutton" href="/home/" style="background-color: #e3c300">REGISTER HERE</a>
    </form>
    <br>
    <a class="minibutton" href="/home/" style="background-color: darkgrey">Back to home</a>
</div>
</body>
</html>