<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Games</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/css/JavaScript.js"></script>

</head>

<body>
<div>
    <h1 class="box">Manage users</h1>
    {{#users}}
    <h3>{{nombre}}</h3>
    <a class="minibutton" href="/deleteUser/{{id_usuario}}">Delete user</a>
    <br>
    -----------------------------
    {{/users}}
</div>
<br>
<a class="button" href="/home/" style="background-color: darkgrey">Back to home</a>
<br>
<br>
<br>
<br>
<br>
<button class="minibutton" id="BackButton" onclick="back()" style="background-color:firebrick">Back</button>

<br>
<br>
<a class="minibutton" value="Refresh site" style="background-color:firebrick" onclick="refresh()">Refresh site</a>
<!---<input class="button" value="Back" style="background-color:firebrick" onClick="history.go(-1);">---->
</body>

</html>