<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Orders</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/css/JavaScript.js"></script>
</head>
<body>
<h1 class="box">YOUR CURRENT ORDERS</h1>

{{#orders}}
<h2>{{name}} - {{price}}€</h2>
Platform: {{platform}} | Id: {{idGame}}


<a class="minibutton" href="/deleteOrder/{{idGame}}" style="background-color: crimson">Remove game</a>
<br>
------------------------------------

<hr style="width:25%;">

{{/orders}}
<h2>{{sum}} €</h2>

------------------------------------
<br>
<br>
<a class="button" href="/home/" style="background-color: darkgrey">Back to home</a>
<a class="button" href="/allGames" style="background-color: darkgrey">Back to games</a>
<br>
<br>
<br>
<br>
<a class="minibutton" value="Refresh site" style="background-color:firebrick" onclick="refresh()">Refresh site</a>
</body>
</html>