<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1 class="box">THE GAME HAS BEEN SUCCESSFULLY REMOVED FROM THE SHOPPING CART</h1>
<a class="button" href="../static/index.html" style="background-color: darkgrey">Back to home</a>
<a class="button" href="/ShoppingCart">Go to shopping cart</a>
<a class="button" href="/ShowGames" style="background-color: darkgrey">Back to games</a>

</body>
</html>