<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1 class="box">YOUR SHOPPING CART IS NOW EMPTY</h1>
<a class="button" href="index.html" style="background-color: darkgrey">Back to home</a>
<a class="button" href="/ShowGames" style="background-color: darkgrey">Back to games</a>


</body>
</html>
</body>
</html>