<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1 class="box">YOUR SHOPPING CART</h1>

{{#cart}}
<h2>{{name}} - {{price}}€</h2>
Platform: {{platform}} | Id: {{idGame}}


<a class="button" href="/RemoveGame/{{idGame}}" style="background-color: crimson">Remove game</a>
<br>
------------------------------------

<hr style="width:25%;">

{{/cart}}
<h2>{{sum}} €</h2>


<a class="button" href="/RemoveShoppingCart" style="background-color: crimson">Remove all games</a>

<br>
<a class="button" href="/home/" style="background-color: darkgrey">Back to home</a>
<a class="button" href="/allGames" style="background-color: darkgrey">Back to games</a>
</body>
</html>