<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">

</head>
<body>
<h1 class="box">Ratings {{name}}</h1>
{{#ratings}}
<h1>Rating:</h1>
<strong>{{title}}</strong>
<br>
Score: <strong>{{stars}}</strong>
<br>
{{comment}}
<br>
<br>
<form
        action="/game/{{idGame}}/updateRating/{{id}}" method="post">
    <button class="minibutton" style="background-color: darkgrey">Edit rating</button>
</form>

<br>
<br>

<form
        action="/game/{{idGame}}/deleteRating/{{id}}" method="post">
    <button class="minibutton" style="background-color: darkgrey">Delete rating</button>
</form>

<br>
{{/ratings}}
<br>
<form
        action="/game/{{idGame}}/ratings/createRating" method="post">
    <button class="minibutton" style="background-color: darkgrey">New rating</button>
</form>

<a class="button" href="/allGames" style="background-color: darkgrey">Back to games</a>

<br>

</body>
</html>