<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ratings</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/css/JavaScript.js"></script>
    <script src="/css/ckeditorc/ckeditor.js"></script>
</head>
<body>
<h1 class="box">Ratings {{name}}</h1>
{{#ratings}}
<h1>Rating: </h1>
<strong>{{title}}</strong>
<br>
Score: <strong>{{stars}}</strong>
<br>




<div>
<textarea name="{{id}}" id="{{id}}" rows="5" cols="30"  style="cursor: default">
    {{comment}}
            </textarea>

<script>
    CKEDITOR.replace( '{{id}}', {
        uiColor: '#FFFFFF',
        toolbar:[],
        allowedContent: 'p h1 h2 strong em; a[!href]; img[!src,width,height];'
    });

</script>
</div>
<br>
<a class="minibutton" href="/game/{{idGame}}/deleteRating/{{id}}" style="background-color: darkgrey">Delete Rating</a>
<br>
{{/ratings}}
<br>
<a class="button" href="/game/{{idGame}}/ratings/createRating">New Rating</a>
<a class="button" href="/allGames" style="background-color: darkgrey">Back to games</a>

<br>
<br>
<br>
<br>
<br>
<button class="minibutton" id="BackButton" onclick="back()" style="background-color:firebrick">Back</button>
<br>
<br>
<a class="minibutton" value="Refresh site" style="background-color:firebrick" onclick="refresh()">Refresh site</a>
</body>
</html>