<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
{{#game}}

<h1 class="box">{{name}}</h1>
Plataforma: {{platform}}
<br>
Precio: {{price}}€
<br>
Id: {{id}}

<br>

<div>

        <a class="minibutton" href="/addedToCart/{{id}}">Add to cart</a>
    <br>
    <br>

        <input name="id" type="hidden" value="{{id}}">


    <form action="/deleted/{{id}}">
        <input class="minibutton" type="submit" value="Delete">
    </form>
    <a class="minibutton" href="/update/{{id}}">Edit game</a>
</div>
<br>
<a class="button" href="/Game/{{id}}/Ratings">Show ratings</a>
<a class="button" href="/home/" style="background-color: darkgrey">Back to home</a>
<a class="button" href="/allGames" style="background-color: darkgrey">Back to games</a>

{{/game}}
</body>
</html>