<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">

</head>
<body>
<div>
    <h1 class="box">STORE</h1>
    <h4>Add the game you want to the cart</h4>
    {{#games}}
    <h3>{{name}}- {{price}}€</h3>
    <a class="minibutton" href="/game/{{id}}">Show details</a>
    <br>
    -----------------------------
    {{/games}}
</div>
<br>
<a class="button" href="/home/" style="background-color: darkgrey">Back to home</a>

</body>
</html>