<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/css/JavaScript.js"></script>
</head>
<body>
{{#game}}

<h1 class="box">{{name}}</h1>
Plataforma: {{platform}}
<br>
Precio: {{price}}€
<br>
Id: {{idGame}}

<br>

<div>

        <a class="minibutton" href="/addedToCart/{{idGame}}">Add to cart</a>
    <br>
    <br>

    <a class="minibutton" href="/deleted/{{idGame}}">Delete game</a>
    <br>
    <br>
    <a class="minibutton" href="/update/{{idGame}}">Edit game</a>
</div>
<br>
<a class="button" href="/game/{{idGame}}/ratings">Show ratings</a>
<a class="button" href="/home/" style="background-color: darkgrey">Back to home</a>
<a class="button" href="/allGames" style="background-color: darkgrey">Back to games</a>

{{/game}}
</body>
</html>