<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Games</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/css/JavaScript.js"></script>

</head>

<body>
<div>
    <h1 class="box">STORE</h1>
    <h4>Add the game you want to the cart</h4>
    {{#games}}
    <h3>{{name}}- {{price}}€</h3>
    <a class="minibutton" href="/game/{{idGame}}">Show details</a>
    <br>
    -----------------------------
    {{/games}}
</div>
<h4>Filter games</h4>
<form action="/filteredGames" method="post">
    <label>Platform: </label>
    <label>
        <select name="platform">
            <option>Any</option>
            <option>PC</option>
            <option>Xbox</option>
            <option>PlayStation</option>
            <option>Switch</option>
        </select>
    </label>
    <label>Min price:</label>
    <label>
        <input min="0" name="minprice" step="any" type="number" value="0" max="1000">
    </label>
    <label>Max price:</label>
    <label>
        <input min="0" name="maxprice" step="any" type="number" value="100" max="1000">
    </label>
    <input class="minibutton" type="submit" value="FILTER" style="background-color: gold">
</form>
<br>
<a class="button" href="/home/" style="background-color: darkgrey">Back to home</a>


<br>
<br>
<br>
<br>
<br>
<button class="minibutton" id="BackButton" onclick="back()" style="background-color:firebrick">Back</button>

<br>
<br>
<a class="minibutton" value="Refresh site" style="background-color:firebrick" onclick="refresh()">Refresh site</a>
<!---<input class="button" value="Back" style="background-color:firebrick" onClick="history.go(-1);">---->
</body>

</html>