<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
{{#game}}

<h1 class="box">{{name}}</h1>
Plataforma: {{platform}}
<br>
Precio: {{price}}€
<br>
Id: {{idGame}}

<br>

<div>

    <form
            action="/addedToCart/{{idGame}}" method="post">
        <button class="minibutton">Add tocart</button>
    </form>

    <br>
    <br>

    <form
            action="/deleted/{{idGame}}" method="post">
        <button class="minibutton">Delete game</button>
    </form>

    <br>
    <br>

    <form
            action="/update/{{idGame}}" method="post">
        <button class="minibutton">Edit game</button>
    </form>

</div>
<br>

<a class="button" href="/game/{{idGame}}/ratings">Show ratings</a>
<a class="button" href="/home/" style="background-color: darkgrey">Back to home</a>
<a class="button" href="/allGames" style="background-color: darkgrey">Back to games</a>

{{/game}}
</body>
</html>